<!DOCTYPE html>
<html>


<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/styles_chart.css">
</head>


<body>

	<div id="root"></div>
	
	<!-- Load React. -->
	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

	<!-- Load ReactAMAP. -->
	<script src="https://unpkg.com/react-amap@1.2.6/dist/react-amap.js" crossorigin></script>

	<!-- Load D3. -->
	<script src="https://d3js.org/d3.v6.min.js" crossorigin></script>

	<!-- Load our React component. -->
	<script src="javascripts/timepicker.js"></script>
	<script src="javascripts/d3chart.js"></script>
	<script src="javascripts/chartPollutionDayCurve.js"></script>
	<script src="javascripts/index_chart.js"></script>

</body>