*{
  padding: 0;
  margin: 0;
}

#container{
  height: 100vh;
  width: 100vw;
}

.input-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  width: 22rem;
  border-width: 0;
  border-radius: 0.4rem;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
  position: fixed;
  top: 1rem;
  right: 1rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem 1.25rem;
}

.input-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.input-item>select, .input-item>input[type=text], .input-item>input[type=date] {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.input-item>select:not(:last-child), .input-item>input[type=text]:not(:last-child), .input-item>input[type=date]:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.input-item>select:not(:first-child), .input-item>input[type=text]:not(:first-child), .input-item>input[type=date]:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

#dirty-selector{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  z-index: 10;
}

#month-selector{
  position: fixed;
  bottom: 20px;
  left: 10%;
  z-index: 10;

}
.time-horizontal {
  list-style-type: none;
  border-top: 2px dashed darkblue;
  max-width: 90vw;
  padding: 0px;
  margin: 0px;
}

.time-horizontal li {
  float: left;
  position: relative;
  text-align: center;
  width: 7vw;
  padding-top: 10px;
}

.time-horizontal li b:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 47%;
  width: 12px;
  height: 12px;
  border: 2px solid #4c4c4c;
  border-radius: 8px;
  background: #4c4c4c;
}

li{
  align-content: center;
}

.btn-m{
  width: 30px;
  height: 30px;
  align-content: center;
  border-radius: 15px;
  background-color: #61dafb;
  border-color: blueviolet;
  transform: translateY(-25px);
  color: white;
}

.btn-dirt {
  display: inline-block;
  width: 90px;
  height: 45px;

  color: #fff;
  background: lightblue;
  border-color: blueviolet;
  padding: 10px 20px;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

#mode-selector{
  position: fixed;
  bottom: 8vw;
  left: 1vw;
  width: 8vw;
  height: auto;
  z-index: 10;
}
#mode-selector>select{
  background:none;
  height: 30px;
  width: 8vw;
  margin: 5px;
  line-height:28px;
  border: none;
  border-radius: 10px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  text-align: left;
  font-size: 2vw;
}

.btn-dirt.selected {
  outline: none;
  background: royalblue;
}

.btn-m.selected{
  outline: none;
  background: darkslateblue;
}

.btn-dirt:active {
  transform: scale(0.95);
}
.btn-m:active {
  transform: translateY(-25px) scale(0.95);
}
#info{
  position: fixed;
  color: darkblue;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.amap-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: transparent;
  background-image: none;
  color: #25A5F7;
  border-color: #25A5F7;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: 1rem;
  -webkit-appearance: button;
  cursor:pointer;
}

.amap-btn:hover {
  color: #fff;
  background-color: #25A5F7;
  border-color: #25A5F7
}

.amap-btn:hover {
  text-decoration: none
}

/* .amap-btn {
  top: 1rem;
  position: absolute;
  right: 1rem;
} */

.amap-btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-m {
  cursor: pointer;
}


/* #chart_container {
  float: left;
  width: 300px;
}

#chart_container>div {
  margin: 10px 0;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  width: 400px;
  height: 100%;
  padding: 60px 30px;
  background: white;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#sidebarCloseBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#sidebarTitle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
} */

#chartTimelineZoomableContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

.monthLabel, .cityLabel {
  font-weight: bold;
}

.monthLabel, .timeLabel {
  cursor: pointer;
}
