* {
	margin: 0;
	padding: 0;
	border: none;
    background: transparent;
    box-sizing: border-box;
}

html, body, #root, #app, #map_cointainer {
    width: 100%;
    height: 100%;
}

#root, #app, #map_cointainer {
    width: 100%;
    height: 0;
}

#timepicker_cointainer {
    position: fixed;
    z-index: 99;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    top: 50px;
    left: 150px;
}

#chart_container {
    float: left;
    width: 300px;
}

#chart_container>div {
    margin: 10px 0;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 400px;
    height: 100%;
    padding: 60px 30px;
    background: white;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#sidebarCloseBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#sidebarTitle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

input, button, select {
    padding: 1px 5px;
    margin: 1px 5px;
    border-radius: 5px;
    background: lightblue;
    border: 1px solid lightblue;
}

input:hover, button:hover, select:hover {
    border: 1px solid gray;
}